[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/stb"]
	path = 3rdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdParty/ImGuiFileDialog"]
	path = 3rdParty/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
